crosshairs/uploadfiles/course-12/scos/3/p2sco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Germano Giuliani (ETH Zurich) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:group name="formattedtext">
		<xs:choice>
			<xs:element ref="b"/>
			<xs:element ref="big"/>
			<xs:element ref="i"/>
			<xs:element ref="p"/>
			<xs:element ref="s"/>
			<xs:element ref="small"/>
			<xs:element ref="strike"/>
			<xs:element ref="sub"/>
			<xs:element ref="sup"/>
			<xs:element ref="u"/>
			<xs:element ref="br"/>
		</xs:choice>
	</xs:group>
	<xs:attributeGroup name="identifiers">
		<xs:attribute name="name" type="xs:string"/>
	</xs:attributeGroup>
	<xs:element name="audio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description"/>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="b">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibitem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description"/>
				<xs:element ref="details"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="big">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="br">
		<xs:complexType/>
	</xs:element>
	<xs:element name="choice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="city">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="definition">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="definitionlist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="term"/>
					<xs:element ref="definition"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hinttext">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hintdetails">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author"/>
				<xs:element ref="title"/>
				<xs:element ref="editor"/>
				<xs:element ref="etitle"/>
				<xs:element ref="publisher"/>
				<xs:element ref="city"/>
				<xs:element ref="date"/>
				<xs:element ref="pages"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description"/>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
			<xs:attribute name="file"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="thumbnail">
		<xs:complexType>
			<xs:attributeGroup ref="identifiers"/>
			<xs:attribute name="file"/>
			<xs:attribute name="width"/>
			<xs:attribute name="height"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="picture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="thumbnail" minOccurs="0"/>
				<xs:element ref="description"/>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
			<xs:attribute name="file"/>
			<xs:attribute name="width"/>
			<xs:attribute name="height"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mediafile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description"/>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
			<xs:attribute name="file"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="editor">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="enumeration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description"/>
				<xs:element ref="listitem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="etitle">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="explain">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="hint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hinttext"/>
				<xs:element ref="hintdetails" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="htmlblock">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="i">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="interaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="question"/>
				<xs:choice>
					<xs:element ref="choice"/>
					<xs:element ref="associate"/>
					<xs:element ref="likert"/>
					<xs:element ref="textentry"/>
					<xs:element ref="fillinthegaps"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listitem">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="itemization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="listitem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="learningobject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="description"/>
				<xs:element ref="objectives"/>
				<xs:choice>
					<xs:element ref="part" maxOccurs="unbounded"/>
					<xs:element ref="learningstep" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="learningstep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="paragraph"/>
					<xs:element ref="htmlblock"/>
					<xs:element ref="audio"/>
					<xs:element ref="hint"/>
					<xs:element ref="interaction"/>
					<xs:element ref="quotation"/>
					<xs:element ref="bibitem"/>
					<xs:element ref="definitionlist"/>
					<xs:element ref="document"/>
					<xs:element ref="enumeration"/>
					<xs:element ref="itemization"/>
					<xs:element ref="picture"/>
					<xs:element ref="link"/>
					<xs:element ref="mediafile"/>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="identifiers"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="gap">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="option"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="likert">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="option" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="link">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="href" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="associate">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="this"/>
				</xs:sequence>
				<xs:sequence minOccurs="2" maxOccurs="unbounded">
					<xs:element ref="that"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fillinthegaps">
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
				<xs:element ref="gap"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="this">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
			<xs:attribute name="idx" type="xs:string" use="required"/>
			<xs:attribute name="match" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="explain"/>
			</xs:sequence>
			<xs:attribute name="correct" use="optional" default="false">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="description"/>
				<xs:element ref="objectives"/>
				<xs:element ref="learningstep" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="that">
		<xs:complexType mixed="true">
			<xs:attribute name="idx" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pages" type="xs:string"/>
	<xs:element name="paragraph">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="objectives">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="possibleanswer">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="question">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="quotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quote"/>
				<xs:element ref="source"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="quote">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="s">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="small">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="strike">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sub">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="term">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="textentry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="possibleanswer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="u">
		<xs:complexType mixed="true">
			<xs:group minOccurs="0" maxOccurs="unbounded" ref="formattedtext"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
